:root{
    --pagecolor: #F5F4F0;
    --headercolor: rgb(73, 72, 72);
    --fontf: "graphik";
    --textspace: pre-line;
    --asidecolors: #D8E2DC; 
    --aboutmecolor: #83c5be;
    --hovercolor: #d8e2dc;
    --navcolor: #3d405b;
    --aboutmeheigh: 110px;
    --workheigh: 500px; 
    --hovercolor:#c9e4de;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fontf);
    color: var(--headercolor);
}
 
  
 body {
    background-color: var(--pagecolor);
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 75rem;
    margin: auto;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 0.5rem solid;
  }

  article, aside, footer, header {
    padding: 0.5rem;
    box-sizing: border-box;
  }

  article{
    display: flex;
    flex: 75%;
  }

  /* This is header part */
  header {
    background-color:var(--aboutmecolor); 
    text-align: left;
    border-bottom: 1px solid;
  }

    /* default navigation values */
    nav {
      display: flex;
      flex-direction: row;
      background-color:var(--navcolor);
      padding: 10px 0;
    }
    nav a {
      flex: auto;
      text-align: center;
      background:var(--navcolor);
      color:grey ;
      margin: 0 5px;
      padding: 5px 0;
      text-decoration: none;
    }


  /* This is main part */

  .portfolio{
    display: flex;
    float: left;
    flex: 1 1 80%;
    flex-wrap: wrap;
    position: relative;
    margin-right: 20px;
}

.aboutmeinfo p{
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap; 
  position: relative;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 22px;
  height: var(--aboutmeheigh);
}

 .fullstack{
    display: flex; 
    flex-direction: column ;
    flex: 1 1 35%;
    height: var(--workheigh); 
    margin-bottom: 20px;
    opacity: 0.8;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
  }

  .fullstack:hover{  
    opacity: 1.3;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    width:170px;
    height:60px;
    border-radius:4px;
    background-color: var(--aboutmecolor);
    border:2px solid var(--pagecolor);
    position: relative;
    margin-top: 420px;
    margin-left: 25px;
  }

  h3{
    font-size: 18px;
    text-align: left; 
  }
  
.cards{
  /* border: 1px solid lightblue; */
  display: flex;
  flex: 1 1 35%;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 30px;
}

.card{
  margin: 5px; 
  padding: 1vh; 
  position: relative;
  display: flex;
  flex:1 1 20%;
  flex-direction: column;
  align-items: center;
  background-color: var(--pagecolor); 
  }

  .card :hover{
    background-color: var(--hovercolor); 
    }

  /* This is contacts part */
 a[href^="mailto"]::before {
    content: "📧 ";
}

a[href^="tel"]::before {
    content: "📞 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

a[href^="Linkedin"]::before {
  content: "linkedIn";
}

a[href^="Github"]::before {
  content: "Github ";
}

    /* This is aside part */
  aside {
    background-color: var(--asidecolors);
    display: flex;
    flex-direction: row;
    flex: 1 1 25%;
    flex: wrap;
    margin-top: 5px;
  }
  


  .about-me{
    display: flex; 
    flex-direction: row; 
    border-left: 3px solid green;
    font-size: 1.5em; 
    text-align: center;  
    margin-bottom: 35px;
    height: var(--aboutmeheigh);
    width: auto;
  }

  .my-work{
    display: flex; 
    flex-direction: row; 
    border-left: 3px solid green;
    font-size: 1.5em; 
    text-align: center;
    margin-bottom: 25px;
    height: var(--workheigh);
    width: auto;
  }
  
  .project-list{
    display: flex; 
    flex-direction: row; 
    border-left: 3px solid green;
    font-size: 1.5em; 
    text-align: center;
    margin-bottom: 20px;
    height: 217px;
    width: auto;
  }
  
  .contact-me{
    display: flex; 
    flex-direction: row; 
    border-left: 3px solid green;
    font-size: 1.5em; 
    text-align: center;  
    height: 100px;
    width: auto;
  }
  

/* This is styling of the Footer of the website*/ 
 
.footer {
    padding: 30px;
    clear: both;
    font-family: var(--fontf);
    text-align: center;
    color: var(--headercolor);
  }
  
  h6 {
    font-size: 20px;
    font-family: var(--fontf);
    color: var(--headercolor);
  }


/* resposiveness setup */

@media (max-width: 480px) {
  .fullstack {
      background-image: url('images/FullSackMobile.png');
      margin: auto;
  }
  nav{
    flex-direction: column;
    margin: auto;
   }
  .aboutmeinfo{
    flex-direction: column;
  }
  .aboutmeinfo p{
     font-size: 14px; 
     margin: auto;
  }
  aside {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .fullstack {
      background-image: url('images/FullStackTablet.png');
      margin: auto;
  }
  nav{
    flex-direction: column;
   }
   aside {
    display: none;
  }
}

@media (min-width: 1025px){
  .fullstack {
      background-image: url('images/fullstack.jpeg'); 
 }
}

 